*~
target/*
**/target/*
*/MANIFEST.MF
.idea/*
!*.idea/codeStyles/
*.iml
*.log
local.properties
.settings/*
**/.settings/*
.vscode/*
.DS_Store
**/.DS_Store
.editorconfig
.project
**/.project
**/.classpath
.factorypath
**/.factorypath
*.class
**/*.class
bin/*
**/bin/*
